.container{
    display: flex;
    justify-content: space-between;
}

#btn{
    border-radius: 10px;
    border: none;
    height: 60px;
    width: 200px;
    background-color: limegreen;
    color: darkblue;
    font-size: 18px;
}

#btn:hover{
    cursor: pointer;
}

.new-notification{
    border-radius: 20px;
    margin: 0 auto;
    height: 60px;
    width: 850px;
    background-color: lightskyblue;
}