.container{
    display: flex;
    justify-content: center;
}

.container form{
    border: 3px ridge cornflowerblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 20%;
    height: 342px;
}

form .primary-data1{
    width: 87%;
    margin-top: 12px;
}

form .first-row, .second-row, .fourth-row, .sixth-row{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

form .third-row, .fifth-row{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.first-row .primary-data2{
    width: 45%;
}

select .default{
    color: grey;
}

form .btn{
    border: none;
    border-radius: 8px;
    width: 80%;
    height: 25px;
    background-color: lightsteelblue;
    color: darkblue;
}

form .btn:hover{
    cursor: pointer;
}

.bold-font{
    font-weight: bold;
}

.italic-style{
    font-style: italic;
}